<div class="container">
  <h1>За Викии</h1>
  <div class="section">
    <h2 class="title" (click)="toggleSection($event)">Информация за мен</h2>
    <p class="text" >Здравейтее! Аз съм Виктория Стамова и съм втора година в специалността Софтуерни технологии и дизайн</p>
  </div>

  <div class="section">
    <h2 class="title" (click)="toggleSection($event)" >Хобита и интереси</h2>
    <p class="text">Обичам да рисувам, чета и да се забавлявам</p>
  </div>

  <div class="section">
    <h2 class="title" (click)="toggleSection($event)">Линк към любим content creator</h2>
    <p class="text">Не следя много ютюб инфлуенсърите, но едни от любимите ми content creator-и в ютюб са <a href="https://www.youtube.com/@pavelkolevicaka">Павел Колев и Ицака</a></p>
    
  </div>

  <div class="section">
    <h2 class="title" (click)="toggleSection($event)">Информация за моя канал</h2>
    <p class="text">Моят канал се фокусира главно върху това, как да направим ученето забавно и лесно</p>
  </div>

  <div class="section">
    <h2 class="title" (click)="toggleSection($event)">Остойностяване</h2>
    <p class="text">Моите услуги зависят от сложността на проекта и труда ми</p>
  </div>
</div>
